<div class="col-md-9">
  <%= page_title(t('.section'), t('.page_title')) %>

  <p>
    Data import status: <span id="solr_status"><%= @status %></span>
  </p>
  <div class="progress">
    <div id="solr_progress" class="progress-bar" role="progressbar" aria-valuenow="<%= @completed %>" aria-valuemin="0" aria-valuemax="<%= @total %>" style="width: <%= @progress %>%;">
      <%= @progress %>%
    </div>
  </div>

  <%= link_to "Update", update_site_solr_admin_index_path, class: 'btn btn-primary solr-action' %>
  <%= link_to "Reindex", reindex_site_solr_admin_index_path, class: 'btn btn-danger solr-action', data: {confirm: 'Are you sure you want to reindex? This will backup, purge, and reimport manually uploaded resources.', disable: (@status != 'idle')} %>
</div>

<aside class="col-md-3">
  <%= render "shared/site_sidebar" %>
</aside>
