<% set_html_page_title @page.title if @page.should_display_title? %>
<% render 'tophat' %>
<%= render 'sidebar' if @page.display_sidebar? %>

<%= cache_unless current_user, @page do %>
<div class="<%= @page.display_sidebar? ? 'col-md-9' : 'col-md-12' %>">
  <div class="clearfix">
    <%= render 'edit_page_link' if can? :edit, @page %>
    <% if @page.should_display_title? %>
      <h1 class="page-title">
        <%= @page.title %>
      </h1>
    <% end %>
  </div>
  <% if Spotlight::Exhibit.hidden.any? %>
    <div class="clearfix">
      <h2>
        <p>
          Browse
        </p>
      </h2>
      <% Spotlight::Exhibit.hidden.ordered_by_weight.each do |exhibit| %>
        <div class="col-sm-3">
          <div class="exhibit-thumbnail">
            <div class="content<% if background_image_url(exhibit) %> content--background<% end %>" <% if background_image_url(exhibit) %>style="background: url('<%= background_image_url(exhibit) %>') center center / cover"<% end %>>
              <%= link_to exhibit.title, exhibit %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  <div>
    <% if @page.content? %>
      <%= render @page.content %>
    <% else %>
      <%= render 'empty' %>
    <% end %>
  </div>
</div>
<% end %>
